<template>
    <div>
        <Navbar />
        <md-layout md-gutter>
            <md-layout md-flex="20" class="fullh">
                <Menubar/>
            </md-layout>
            <md-layout>
                <keep-alive>
                    <transition name="slide-fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </keep-alive>
            </md-layout>
        </md-layout>

    </div>
</template>
<script>
import Navbar from '../shared-component/Navbar';
import Menubar from '../shared-component/Menubar';
export default {
    name: 'Home',
    components: {
        Navbar,
        Menubar
    }
}
</script>
<style scope>
.fullh {
    height: 90vh;
    background-color: #eeeeee;
}
</style>
