<template>
    <div style="width: 100%;">
        <HistorySearch ref="hSearch" @search="searchItem" />
        <HistoryResult :result="list" :search="search" />
    </div>
</template>

<script>
import HistoryResult from './HistoryResult'
import HistorySearch from './HistorySearch'
export default {
    name: 'history',
    data() {
        return {
            list: [
                { id: 1, checkin: '2017/03/01 09:00:00', checkout: '2017/03/01 18:00:00', createdAt: '2017/03/01' },
                { id: 2, checkin: '2017/03/02 08:20:10', checkout: '2017/03/02 18:00:00', createdAt: '2017/03/02' },
                { id: 3, checkin: '2017/03/03 08:00:00', checkout: '2017/03/03 18:00:00', createdAt: '2017/03/03' },
                { id: 4, checkin: '2017/03/04 09:10:10', checkout: '2017/03/04 18:00:00', createdAt: '2017/03/04' },
                { id: 5, checkin: '2017/03/05 08:40:00', checkout: '2017/03/05 18:00:00', createdAt: '2017/03/05' },
            ],
            search: '',
        }
    },
    components: {
        HistoryResult,
        HistorySearch
    },
    methods: {
        searchItem(val) {
            this.search = val
        }
    },
    computed: {
        // searchItem() {
        //     this.list.filter((item) => {
        //         console.log(item.id, +this.itemSearching)
        //         console.log(item.id === +this.itemSearching)
        //     })
        // }
    },
    // watch: {
    //     itemSearching(val) {
    //         this.searching(val)
    //         // console.log(val, 'DDD')
    //     }
    // }

}
</script>

