<template>
    <div style="width: 100%;">
        <h2>HISTORY VIEW :: {{id}}</h2>
    </div>
</template>

<script>
export default {
    name: 'history-view',
    data() {
        return {
            id: this.$route.params.id
        }
    },
}
</script>

