<template>
    <div>
        <form @submit.prevent="searchData">
            <md-input-container>
                <label>ค้นหา</label>
                <md-input v-on="$listeners" v-model="search" type="text" aria-placeholder="  Search:"></md-input>
                <span>
                    <md-button> ค้นหา </md-button>
                </span>
            </md-input-container>
        </form>
    </div>
</template>

<script>
export default {
    name: 'historySearch',
    data() {
        return {
            search: ''
        }
    },
    methods: {
        searchData() {
            this.$emit('search', this.search)
        }
    }
}
</script>


