<template>
    <div style="width: 100%;">
        <div>
            <md-card> 
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">Server Time : {{serverTime | formatDateTime}}</div>
                        <div class="md-subhead"></div>
                    </md-card-header-text>

                    <!-- <md-card-media>
                        <img src="assets/avatar-2.jpg" alt="People">
                    </md-card-media> -->
                </md-card-header>

                <md-card-actions layout-align="center center">
                    <md-button class="md-raised md-accent">Check in</md-button>
                    <md-button class="md-primary" disabled> Check out</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</template>

<script>
export default {
    name: 'timestamp',
    data() {
        return {
            serverTime: new Date()
        }
    },
    created() {
        setInterval(() => {
            this.serverTime = new Date()
        }, 1000)
    }
}
</script>

