<template>
    <div class="vertical-menu">
        <router-link tag="a" :to="{name: 'Timestamp'}">Stamp!</router-link>
        <router-link tag="a" :to="{name: 'History'}">History</router-link>
    </div>
    <!-- <div class="phone-viewport">
                                            <md-toolbar md-theme="white">
                                                <span class="md-title">Menu</span>
                                            </md-toolbar>

                                            <md-list>
                                                <md-list-item target="_blank" href="https://google.com">Link</md-list-item>
                                                <md-list-item @click="openAlert">Button</md-list-item>
                                                <md-list-item>
                                                    <router-link to="/components/list">Router View</router-link>
                                                </md-list-item>
                                            </md-list>
                                        </div> -->
</template>
<script>
export default {
    name: 'menubar'
}
</script>
<style>
.vertical-menu {
    width: 100%;
    /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee;

    display: block;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
}

.md-theme-default a:not(.md-button) {
    color: black;
}

.vertical-menu a:hover {
    background-color: #ccc;
    text-decoration: none;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.is-active {
    background-color: #3f51b5 !important;
    color: #eeeeee;
}
</style>


