<template>
    <div class="message">
        <transition name="fade">
            <span class="text">
                {{ text }}
            </span>

            <!-- <span class="close" @click="closeMessage">
                                                            </span> -->

            <!-- <transition name="fade">
                                                                                <span v-if="showDismissibleAlert">
                                                                                    <strong>ไม่นา! </strong>คุณยังไม่ได้กรอกอะไรเลย
                                                                                </span>
                                                                                <span v-if="showUserNotFound">
                                                                                    <strong>เอ๊ะ! </strong> Username / Password ผิดมั้ย?
                                                                                </span> -->
        </transition>

    </div>
</template>

<script>
export default {
    name: 'message',
    props: ['text'],
    methods: {
        closeMessage() {
            alert()
            // this.$emit('closeMessage')
        }
    }
}
</script>

<style lang="scss" scope>
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0
}

.message {
    border: {
        color: palette(blue); 
        style: solid;
        width: 1px;
    }
    box-shadow: 5px 5px 5px #888888;
    color: palette(blue);
    display: flex;
    font: {
        //  family: $sans-serif;
        size: .9rem;
        weight: 500;
    }
    justify-content: space-between;
    margin: {
        bottom: 1rem;
        left: 0;
        right: 0;
        top: 1rem;
    }
    padding: {
        bottom: .75rem;
        left: .75rem;
        right: .75rem;
        top: .75rem;
    }
    .text {
        flex: 1;
    }
}
</style>