<template>
    <md-toolbar>
        <md-layout md-flex="75">
            <h1 class="md-title">OST Time Stamp</h1>
        </md-layout>
        <md-layout>
            <span>
                 คุณทักศิณ ชินวัตรนาการน์
                <br/>Web Develper
            </span>
            <span>
                <md-button @click="logout" class="md-raised md-dense">ออกจากระบบ</md-button>
            </span>
        </md-layout>

    </md-toolbar>
</template>

<script>
import ls from 'local-storage'

export default {
    name: "navbar",
    methods: {
        logout() {
            ls.clear()
            this.$router.push({ name: 'Login' })
        }
    }
}
</script>

