<template>
    <div class="Login__Wrapper">
        <form novalidate @submit.stop.prevent="login">
            <div class="locale">
                <select v-model="locale" @change="$i18n.locale = locale">
                    <option value="en">english</option>
                    <option value="th">ไทย</option>
                </select>
            </div>
            <!-- <p @click="$i18n.locale='th'">TH</p>
                                                                                                                                            <p @click="$i18n.locale='en'">EN</p> -->
            <md-card class="Login__CardWrappper">
                <md-card-media class="Login__CardImage">
                    <img src="https://www-static.timestamp.io/images/icons/open-graph.5d79befd.png" style="width:150px;height:150px">
                </md-card-media>
                <md-card-content>
                    <message v-if="error" :text="error"> </message>
                    <md-input-container v-bind:class="[showDismissibleAlert ? 'md-input-invalid' : '']">
                        <label>{{ $t('message.employeeid') }}</label>
                        <md-input required v-model="empId" type="text" class="md-input-invalid"></md-input>
                        <!-- <md-input type="text" name="empId" v-model="empId" v-validate data-vv-name="empId" data-vv-rules="required"></md-input> -->

                    </md-input-container>
                    <md-input-container v-bind:class="[showDismissibleAlert ? 'md-input-invalid' : '']">
                        <label>{{ $t('message.password') }}</label>
                        <md-input required type="password" v-model="password"></md-input>
                    </md-input-container>

                </md-card-content>

                <md-card-actions>
                    <md-button ref="loginButton" class="md-raised md-primary" type="submit">
                        {{ $t('message.login') }}
                    </md-button>
                </md-card-actions>
                <p>{{ $t('message.welcome', ['อลงกรณ์']) }}</p>
            </md-card>
        </form>

    </div>
</template>
<script>
import Message from '../../shared-component/Message'
import ls from 'local-storage'

export default {
    name: 'login',
    data() {
        return {
            empId: '',
            password: '',
            showDismissibleAlert: false,
            showUserNotFound: false,
            locale: 'th',
            error: null
        }
    },
    components: {
        Message
    },
    computed: {
    },
    methods: {
        login() {
            if (!this.empId || !this.password) {
                this.error = 'ไม่นา! คุณยังไม่ได้กรอกอะไรเลย'
                this.showDismissibleAlert = true
                setTimeout(() => {
                    this.error = null
                    this.showDismissibleAlert = false
                }, 3000)
                return
            }
            console.log(this.empId, this.password)
            ls.set('user', {
                empID: this.empId
            })
            ls.set('locale',this.locale)
            if (this.$route.query && this.$route.query.redirect) {
                this.$router.push(this.$route.query.redirect)
                return
            }
            this.$router.push({ name: 'Timestamp' })
        }
    }
}
</script>
<style lang="scss" scoped>
.Login__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login__CardWrappper {
    margin-top: 20vh;
    min-width: 300px;
    width: 22%;
}

.Login__CardImage {
    display: flex;
    justify-content: center;
    img {
        max-width: 200px;
    }
}
</style>